
  <!-- Article Headline -->
  <h2 itemprop="headline">Abstract</h2>

  <!-- Overview Section -->
  <section itemscope itemtype="https://schema.org/ScholarlyArticle">
    <h3 itemprop="name">Overview</h3>
    <p itemprop="abstract">
      Welcome to the Accessible User Interface Guidelines (AUIG), a set of intuitive and structured accessibility guidelines crafted to simplify the implementation, design, planning, and testing of accessible user interfaces. While the AUIG shares similar objectives with standards like the W3C, EAA, Section 508, and ADA, aiming to make digital interfaces accessible to all it offers a unique approach that enhances ease of use for stakeholders. This guide is essential for today’s digital-first world, ensuring inclusivity for individuals of all abilities.
    </p>
    <p itemprop="abstract">
      By integrating these guidelines, teams can build interfaces that are not only functional and aesthetically appealing but also comprehensively accessible. The AUIG facilitates enhanced usability and inclusivity, while providing clear compliance pathways with current and evolving accessibility regulations.
    </p>
  </section>

  <!-- Tailored Audience Section -->
  <section itemscope itemtype="https://schema.org/Audience">
    <h3>Tailored for:</h3>
    <ul>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Developers</span>: To build user interfaces that prioritise accessibility from the ground up.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Designers</span>: To create inclusive visual experiences.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">UX Professionals</span>: To integrate accessibility into the core of user experience strategies.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Testers</span>: To rigorously validate and ensure compliance with accessibility standards.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Product Owners and Managers</span>: To embed accessibility into project management and operations effectively.
      </li>
    </ul>
  </section>

  <!-- Additional Abstract Content -->
  <section itemscope itemtype="https://schema.org/ScholarlyArticle">
    <p itemprop="abstract">
      The AUIG stands as a pivotal resource throughout the user interface development lifecycle, presenting a modern approach that is both easy to understand and apply. By following these guidelines, organisations ensure their digital offerings are accessible, enhancing user engagement and satisfaction for everyone.
    </p>
  </section>
