
  <!-- Article Headline -->
  <h2 itemprop="headline">Abstract</h2>

  <!-- Overview Section -->
  <section itemscope itemtype="https://schema.org/ScholarlyArticle">
    <h3 itemprop="name">Overview</h3>
    <p itemprop="abstract">
      The Accessible User Interface Guidelines (AUIG) provides a comprehensive framework that transcends
      traditional accessibility standards by addressing <strong>all barriers to entry</strong>, including
      solutions for <strong>neurological, cognitive, psychological, and brain injury challenges</strong>, as
      well as <strong>economic, linguistic, cultural, and technological barriers</strong>. Beyond web-based
      platforms, its scope extends to all technologies with user interfaces, embracing established standards
      from the W3C while offering a unique, holistic approach that simplifies the understanding,
      design, implementation, and testing of accessible interfaces. AUIG aims to minimise barriers to entry
      for all, ensuring inclusivity, usability, and accessibility beyond traditional disability-focused needs.
    </p>
  </section>
  <!-- Tailored Audience Section -->
  <section itemscope itemtype="https://schema.org/Audience">
    <h3>Tailored for:</h3>
    <ul>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Developers</span>: To build user interfaces that prioritise accessibility from the ground up.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Designers</span>: To create inclusive visual experiences.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">UX Professionals</span>: To integrate accessibility into the core of user experience strategies.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Testers</span>: To rigorously validate and ensure compliance with accessibility standards.
      </li>
      <li itemscope itemtype="https://schema.org/Audience" itemprop="audience">
        <span itemprop="audienceType">Product Owners and Managers</span>: To embed accessibility into project management and operations effectively.
      </li>
    </ul>
  </section>

  <!-- Additional Abstract Content -->
  <section itemscope itemtype="https://schema.org/ScholarlyArticle">
    <p itemprop="abstract">
      The AUIG stands as a pivotal resource throughout the user interface development lifecycle, presenting a modern approach that is both easy to understand and apply. By following these guidelines, organisations ensure their digital offerings are accessible, enhancing user engagement and satisfaction for everyone.
    </p>
  </section>
