<h3 id="global-settings">1. Global Settings</h3>
<h4 id="1.1">1.1 Colour</h4>
<p>Define and use consistent color schemes across your web content to enhance readability and
    aesthetic coherence for users with visual impairments.</p>

<h4 id="1.2">1.2 Contrast</h4>
<p>Ensure sufficient contrast between text and background colors to aid users with low vision or
    color-blindness.</p>

<h4 id="1.3">1.3 Language</h4>
<p>Use the correct language for the document using the <strong>lang</strong> attribute.  If the language changes
in any part of the document then state the corresponding language</p>
<pre>
<code class="language-html">
&lt;!-- Example of setting the document language --&gt;
&lt;html lang="en"&gt;
    &lt;body&gt;
        &lt;p&gt;This is a paragraph in English.&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code>
</pre>

<pre>
<code class="language-html">
&lt;!-- Example of changing language within a document --&gt;
&lt;p lang="en"&gt;This is an English text.&lt;/p&gt;
&lt;p lang="fr"&gt;Ceci est un texte en français.&lt;/p&gt;
</code>
</pre>

<h4 id="1.4">1.4 Keyboard Access</h4>
<p>Implement keyboard-navigable web interfaces to support users who cannot use a mouse.</p>

<h4 id="1.5">1.5 Meta Data</h4>
<h5 id="1.5.1">1.5.1 Meta</h5>
<p>Use meta tags to provide essential information about the page to search engines and assistive
    technologies.</p>

<h5 id="1.5.2">1.5.2 Title</h5>
<p>Ensure each page has a meaningful title that clearly describes its content for better
    navigation and orientation.</p>
