
<h3 id="1.1">1.1 Colour</h3>
<p>Define and use consistent color schemes across your web content to enhance readability and
    aesthetic coherence for users with visual impairments.</p>

<h3 id="1.2">1.2 Contrast</h3>
<p>Ensure sufficient contrast between text and background colors to aid users with low vision or
    color-blindness.</p>

<h3 id="1.3">1.3 Language</h3>
<p>Use the correct language for the document using the <strong>lang</strong> attribute.  If the language changes
in any part of the document then state the corresponding language</p>
<pre>
<code class="language-html">
&lt;!-- Example of setting the document language --&gt;
&lt;html lang="en"&gt;
    &lt;body&gt;
        &lt;p&gt;This is a paragraph in English.&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code>
</pre>

<pre>
<code class="language-html">
&lt;!-- Example of changing language within a document --&gt;
&lt;p lang="en"&gt;This is an English text.&lt;/p&gt;
&lt;p lang="fr"&gt;Ceci est un texte en français.&lt;/p&gt;
</code>
</pre>

<h3 id="1.4">1.4 Keyboard Access</h3>
<p>Implement keyboard-navigable web interfaces to support users who cannot use a mouse.</p>

<h3 id="1.5">1.5 Meta Data</h3>
<h4 id="1.5.1">1.5.1 Meta</h4>
<p>Use meta tags to provide essential information about the page to search engines and assistive
    technologies.</p>

<h4 id="1.5.2">1.5.2 Title</h4>
<p>Ensure each page has a meaningful title that clearly describes its content for better
    navigation and orientation.</p>

<h3 id="1.6">1.6 Skip Links</h3>
<p>The user should be able to jump ahead of specific elements such
as the navigation and go directly to the main content.  This is particularly important for assistive
technologies such as screen readers.</p>
<pre>
<code class="language-html">
&lt;!-- Skip link to the main content --&gt;
&lt;a href="#main-content" class="skip-link"&gt;Go to main content&lt;/a&gt;
&lt;main id="main-content"&gt;
    &lt;!-- Main content goes here --&gt;
&lt;/main&gt;
</code>
</pre>

<h3 id="1.7">1.7 Responsive Design</h3>
<p>Responsive design ensures that digital content is accessible and legible across all devices,
    from desktops to smartphones. By adapting to various screen sizes and orientations, responsive design
    enhances accessibility for users with mobility limitations who rely on different devices, and
    improves usability for all users by providing a consistent experience regardless of the device used.</p>
