
<h3 id="1.1">1.1 Colour</h3>
<p>Define and use consistent color schemes across your web content to enhance readability and
    aesthetic coherence for users with visual impairments.</p>

<icon-detail id="1.1.1" type="consideration" heading-level="h4">
    <span slot="title">1.1.1 Customised themes</span>
    <span slot="description">
        Consider the possibility that light and dark modes might not address every
        edge case, leaving some users still struggling with the theme. It may be
        impractical to account for all potential challenges. To mitigate this,
        consider adding a settings feature that allows users to customise and
        save their own theme preferences locally in their browser. Including a
        reset option for reverting to the default theme would also be beneficial.
    </span>
</icon-detail>


<h3 id="1.2">1.2 Contrast</h3>
<p>Ensure sufficient contrast between text and background colors to aid users with low vision or
    color-blindness.</p>

<h4 id="1.2.1">1.2.1 Automatic Calculation:</h4>
<p>The <a href="https://www.checkmeister.com/tools/contrast-tool">Checkmeister Contrast Checking Tool</a>
    is an essential utility for ensuring that your website meets the required accessibility standards.
    Proper contrast between text and background colors is vital for readability, especially for users
    with visual impairments. This tool helps you evaluate and adjust color combinations to achieve the
    best possible contrast ratios.</p>

<h4 id="1.2.2">1.2.2 Manual Calculation:</h4>
<p>While using online tools is recommended for accuracy, understanding the manual calculation can be
    beneficial.</p>
<p><strong>Formula:</strong></p>
<pre><code class="language-html">Contrast Ratio = (L1 + 0.05) / (L2 + 0.05)</code></pre>
<ul>
    <li><strong>L1:</strong> Relative luminance of the lighter color.</li>
    <li><strong>L2:</strong> Relative luminance of the darker color.</li>
</ul>
<p><strong>Relative Luminance Calculation:</strong></p>
<ul>
    <li>Convert RGB values to linear RGB.</li>
    <li>Apply the relative luminance formula provided by WCAG.</li>
</ul>
<p><strong>Note:</strong> Manual calculations are complex and prone to errors. It's advisable to use
    online tools for precise measurements.</p>

<h3 id="1.3">1.3 Language</h3>
<p>Use the correct language for the document using the <strong>lang</strong> attribute.  If the language changes
in any part of the document then state the corresponding language</p>
<pre>
<code class="language-html">
&lt;!-- Example of setting the document language --&gt;
&lt;html lang="en"&gt;
    &lt;body&gt;
        &lt;p&gt;This is a paragraph in English.&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code>
</pre>

<pre>
<code class="language-html">
&lt;!-- Example of changing language within a document --&gt;
&lt;p lang="en"&gt;This is an English text.&lt;/p&gt;
&lt;p lang="fr"&gt;Ceci est un texte en français.&lt;/p&gt;
</code>
</pre>

<h3 id="1.4">1.4 Keyboard Access</h3>
<p>Implement keyboard-navigable web interfaces to support users who cannot use a mouse.</p>

<h3 id="1.5">1.5 Meta Data</h3>
<h4 id="1.5.1">1.5.1 Meta</h4>
<p>Use meta tags to provide essential information about the page to search engines and assistive
    technologies.</p>

<h4 id="1.5.2">1.5.2 Title</h4>
<p>Ensure each page has a meaningful title that clearly describes its content for better
    navigation and orientation.</p>

<h3 id="1.6">1.6 Skip Links</h3>
<p>The user should be able to jump ahead of specific elements such
as the navigation and go directly to the main content.  This is particularly important for assistive
technologies such as screen readers.</p>
<pre>
<code class="language-html">
&lt;!-- Skip link to the main content --&gt;
&lt;a href="#main-content" class="skip-link"&gt;Go to main content&lt;/a&gt;
&lt;main id="main-content"&gt;
    &lt;!-- Main content goes here --&gt;
&lt;/main&gt;
</code>
</pre>

<h3 id="1.7">1.7 Responsive Design</h3>
<p>Responsive design ensures that digital content is accessible and legible across all devices,
    from desktops to smartphones. By adapting to various screen sizes and orientations, responsive design
    enhances accessibility for users with mobility limitations who rely on different devices, and
    improves usability for all users by providing a consistent experience regardless of the device used.</p>

<icon-detail id="1.8" type="priority" heading-level="h3">
    <span slot="title">1.8 Flashing Images</span>
    <span slot="description">
        Flashing images can trigger seizures and cause significant discomfort for individuals with
        photosensitive epilepsy, posing serious health risks. To ensure an inclusive and safe
        environment, avoid using flashing or strobe visuals. If their use is unavoidable, provide
        advance warnings to users.
    </span>
</icon-detail>



