<nav aria-label="Breadcrumb">
    <ol>
        <li aria-current="page">Home</li>
    </ol>
</nav>


<section class="header" id="header" itemscope itemtype="https://schema.org/CreativeWork">
    <!-- Title of the CreativeWork -->
    <h1 itemprop="name">Accessible User Interface Guidelines (AUIG)</h1>

    <!-- Description of the CreativeWork -->
    <h2 class="title" itemprop="description">
        A comprehensive set of modern accessibility guidelines that are based on W3C standards and
        expand upon additional considerations such as neurodiversity, presented in an intuitive
        and easy-to-follow format.
    </h2>


    <section class="source-supporters">
        <!-- Source Section -->
        <div class="source-section">
            <h3>Details</h3>
            <ul>
                <!-- Repository URL -->
                <li>
                    Repo:
                    <a href="https://github.com/garethslinn/auig" itemprop="codeRepository">
                        <span class="sr-only">Link leaves this site</span>auig
                    </a>
                </li>
                <!-- Issues Page URL -->
                <li>
                    Raise
                    <a href="https://github.com/garethslinn/auig/issues" itemprop="issueTracker">
                        <span class="sr-only">Link leaves this site</span>Issues
                    </a>
                </li>
                <!-- Current Version -->
                <li>
                    <span itemprop="version">This version: 1.0.0.3</span>
                </li>
                <!-- Publication Date -->
                <li>
                    Date:
                    <time itemprop="datePublished" datetime="2025-01-09">January 9, 2025</time>
                </li>
            </ul>
        </div>

        <!-- Supporter Section -->
        <div class="supporter-section">
            <h3>Supporter(s)</h3>
            <ul class="item-types">
                <li class="icon-item">
                    <a href="/articles/supporter-garimasystem.html" itemprop="relatedLink">
                        <img
                                alt="Garima System logo"
                                src="../images/supporters/garimasystem.svg"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">Garima System</span>&nbsp;
                    </a>
                </li>
            </ul>
        </div>
    </section>




    <section class="source-supporters">
        <div class="source-section">
            <h3>Founder</h3>
            <ul class="item-types">
                <li class="icon-item" itemscope itemtype="https://schema.org/Person">
                    <a
                            href="bio.html"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of Gareth Slinn"
                                src="../images/users/gslinn.png"
                                class="user-image"
                                itemprop="image"
                        />
                        <!-- Founder's Name -->
                        <span itemprop="name">Gareth Slinn</span>&nbsp;
                    </a>
                </li>
            </ul>
        </div>

        <div class="supporter-section">
            <h3>Collaborators</h3>
            <ul class="item-types">
                <li itemscope itemtype="https://schema.org/Person">
                    <a
                            href="https://github.com/getify"
                            aria-label="this link opens in a new tab"
                            target="_blank"
                            rel="noopener noreferrer"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of Kyle Simpson"
                                src="../images/users/ks.png"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">Kyle Simpson</span>
                    </a>
                </li>
                <li itemscope itemtype="https://schema.org/Person">
                    <a
                            href="https://github.com/arkam-shakil"
                            aria-label="this link opens in a new tab"
                            target="_blank"
                            rel="noopener noreferrer"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of Arkam"
                                src="../images/users/arkams.png"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">Arkam Shakill</span>
                    </a>
                </li>
                <li itemscope itemtype="https://schema.org/Person">
                    <a
                            href="https://github.com/Tim-sansom"
                            aria-label="this link opens in a new tab"
                            target="_blank"
                            rel="noopener noreferrer"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of Timski"
                                src="../images/users/timski.jpeg"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">Timski</span>
                    </a>
                </li>
                <li itemscope itemtype="https://schema.org/Person">
                    <a
                            href="https://github.com/adampfoster"
                            aria-label="this link opens in a new tab"
                            target="_blank"
                            rel="noopener noreferrer"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of Adam Foster"
                                src="../images/users/adamp.jpeg"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">Adam Foster</span>
                    </a>
                </li>
                <li itemscope itemtype="https://schema.org/Person">
                    <a
                            href="https://github.com/lharby"
                            aria-label="this link opens in a new tab"
                            target="_blank"
                            rel="noopener noreferrer"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of Luke Harby"
                                src="../images/users/lukeh.jpeg"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">Luke Harby</span>
                    </a>
                </li>
                <li itemscope itemtype="https://schema.org/Person">
                    <a
                            href="https://github.com/presencewebdesign"
                            aria-label="this link opens in a new tab"
                            target="_blank"
                            rel="noopener noreferrer"
                            itemprop="relatedLink"
                    >
                        <img
                                alt="Picture of James Stevenson"
                                src="../images/users/jamess.jpeg"
                                class="user-image"
                                itemprop="image"
                        />
                        <span itemprop="name">James Stevenson</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

</section>




<section class="responsive-gallery">

    <div class="category">
        <h3>Tool(s)</h3>
        <ol class="gallery">
            <li>
                <a target="_blank" href="https://www.checkmeister.com/">
                    <span class="sr-only">Opens in a separate tab</span>
                    <img src="/images/cms.png" alt="Picture of checkmeister character from the checkmeister website">
                    <span>Checkmeister</span>
                </a>
            </li>
        </ol>
    </div>

    <div class="category">
        <h3>Books</h3>
        <ol class="gallery">
            <li>
                <a target="_blank" href="https://www.amazon.co.uk/dp/B0DN1NJSLZ/">
                    <span class="sr-only">Opens in a separate tab</span>
                    <img src="/images/nux.jpg" alt="Cover of Neurological UX - Designing for Neurological Inclusivity">
                    <abbr title="Neurological UX">NUX</abbr>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.amazon.co.uk/Accessibility-Dont-Panic-Gareth-Slinn/dp/B0DL4CSBS8/">
                    <span class="sr-only">Opens in a separate tab</span>
                    <img src="/images/acc.jpg" alt="Cover of Accessibility: Don’t Panic - Your Essential Guide to EAA and WCAG Compliance">
                    <span>Accessibility: Don’t Panic</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.amazon.co.uk/Mental-Self-Defence-Critically-Confidently/dp/B0DM5FPSCN/">
                    <span class="sr-only">Opens in a separate tab</span>
                    <img src="/images/msd.jpg" alt="Cover of Mental Self Defence: Train Your Mind to Think Clearly, Critically, and Confidently">
                    <span>Mental Self Defence</span>
                </a>
            </li>
        </ol>
    </div>

        <div class="category">
            <h3>Videos</h3>
            <iframe width="150" src="https://www.youtube.com/embed/3bfQVzcw5ic?si=F5c3tfWro4DFd1ye"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
</section>


