
        <nav aria-label="Breadcrumb">
            <ol>
                <li aria-current="page">Home</li>
            </ol>
        </nav>

        <section class="header" id="header" itemscope itemtype="https://schema.org/CreativeWork">
            <h1 itemprop="name">Accessible User Interface Guidelines (AUIG)</h1>
            <h2 class="title" itemprop="description">
                A comprehensive set of modern accessibility guidelines based on W3C standards,
                expanding upon considerations such as neurodiversity, presented in an intuitive format.
            </h2>

            <section class="source-supporters">
                <div class="source-section">
                    <h3>Details</h3>
                    <ul>
                        <li>Repo: <a href="https://github.com/garethslinn/auig" itemprop="codeRepository">auig</a></li>
                        <li>Raise <a href="https://github.com/garethslinn/auig/issues" itemprop="issueTracker">Issues</a></li>
                        <li><span itemprop="version">This version: 1.0.0.3</span></li>
                        <li>Date: <time itemprop="datePublished" datetime="2025-01-09">January 9, 2025</time></li>
                    </ul>
                </div>

                <div class="supporter-section">
                    <h3>Supporter(s)</h3>
                    <ul class="item-types">
                        <li class="icon-item">
                            <a href="/articles/supporter-garimasystem.html" itemprop="relatedLink">
                                <img src="../images/supporters/garimasystem.svg" alt="picture of Garima System logo" class="user-image" itemprop="image" />
                                <span aria-hidden="true" itemprop="name">Garima System</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="source-supporters">
                <div class="source-section">
                    <h3>Founder</h3>
                    <ul class="item-types">
                        <li class="icon-item" itemscope itemtype="https://schema.org/Person">
                            <a href="bio.html" itemprop="relatedLink">
                                <img src="../images/users/gslinn.png" alt="Picture of Gareth Slinn" class="user-image" itemprop="image" />
                                <span aria-hidden="true" itemprop="name">Gareth Slinn</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="supporter-section">
                    <h3>Collaborators</h3>
                    <ul class="item-types">
                        <li itemscope itemtype="https://schema.org/Person">
                            <a
                                    href="https://github.com/getify"
                                    aria-description="(Opens in a new tab)"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    itemprop="relatedLink"
                            >
                                <img
                                        alt="Picture of Kyle Simpson"
                                        src="../images/users/ks.png"
                                        class="user-image"
                                        itemprop="image"
                                />
                                <span aria-hidden="true" itemprop="name">Kyle Simpson</span>
                            </a>
                        </li>
                        <li itemscope itemtype="https://schema.org/Person">
                            <a
                                    href="https://github.com/arkam-shakil"
                                    aria-description="(Opens in a new tab)"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    itemprop="relatedLink"
                            >
                                <img
                                        alt="Picture of Arkam"
                                        src="../images/users/arkams.png"
                                        class="user-image"
                                        itemprop="image"
                                />
                                <span aria-hidden="true" itemprop="name">Arkam Shakill</span>
                            </a>
                        </li>
                        <li itemscope itemtype="https://schema.org/Person">
                            <a
                                    href="https://github.com/Tim-sansom"
                                    aria-description="(Opens in a new tab)"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    itemprop="relatedLink"
                            >
                                <img
                                        alt="Picture of Timski"
                                        src="../images/users/timski.jpeg"
                                        class="user-image"
                                        itemprop="image"
                                />
                                <span aria-hidden="true" itemprop="name">Timski</span>
                            </a>
                        </li>
                        <li itemscope itemtype="https://schema.org/Person">
                            <a
                                    href="https://github.com/adampfoster"
                                    aria-description="(Opens in a new tab)"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    itemprop="relatedLink"
                            >

                                <img
                                        alt="Picture of Adam Foster"
                                        src="../images/users/adamp.jpeg"
                                        class="user-image"
                                        itemprop="image"
                                />
                                <span aria-hidden="true" itemprop="name">Adam Foster</span>
                            </a>
                        </li>
                        <li itemscope itemtype="https://schema.org/Person">
                            <a
                                    href="https://github.com/lharby"
                                    aria-description="(Opens in a new tab)"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    itemprop="relatedLink"
                            >
                                <img
                                        alt="Picture of Luke Harby"
                                        src="../images/users/lukeh.jpeg"
                                        class="user-image"
                                        itemprop="image"
                                />
                                <span aria-hidden="true" itemprop="name">Luke Harby</span>
                            </a>
                        </li>
                        <li itemscope itemtype="https://schema.org/Person">
                            <a
                                    href="https://github.com/presencewebdesign"
                                    aria-description="(Opens in a new tab)"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    itemprop="relatedLink"
                            >
                                <img
                                        alt="Picture of James Stevenson"
                                        src="../images/users/jamess.jpeg"
                                        class="user-image"
                                        itemprop="image"
                                />
                                <span aria-hidden="true" itemprop="name">James Stevenson</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>

        <section class="responsive-gallery">
            <div class="category">
                <h3>Tool(s)</h3>
                <ol class="gallery">
                    <li>
                        <a href="https://www.checkmeister.com/" target="_blank">
                            <img src="/images/cms.png" alt="Picture of checkmeister accessibility tool character" />
                            <span aria-hidden="true">Checkmeister</span>
                        </a>
                    </li>
                </ol>
            </div>

            <div class="category">
                <h3>Books</h3>
                <ol class="gallery">
                    <li>
                        <a href="https://www.amazon.co.uk/dp/B0DN1NJSLZ/" target="_blank">
                            <img src="/images/nux.jpg" alt="Neurological UX book cover" />
                            <abbr aria-hidden="true" title="Neurological UX">NUX</abbr>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.amazon.co.uk/Accessibility-Dont-Panic-Gareth-Slinn/dp/B0DL4CSBS8/" target="_blank">
                            <img src="/images/acc.jpg" alt="Accessibility: Don’t Panic book cover" />
                            <span aria-hidden="true">Accessibility: Don’t Panic</span>
                        </a>
                    </li>
                </ol>
            </div>

            <div class="category">
                <h3>Videos</h3>
                <iframe src="https://www.youtube.com/embed/3bfQVzcw5ic?si=F5c3tfWro4DFd1ye" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </section>