
    <!-- Article Headline -->
    <h2 id="how-to-use" itemprop="headline">How to use these guidelines</h2>

    <!-- Article Description -->
    <p itemprop="description">
        The Accessibility User Interface Guidelines (AUIG) serve as a comprehensive framework for designing and developing accessible digital experiences. This section provides a concise guide on how to navigate and implement the AUIG effectively. By understanding the structure and key components of the AUIG, developers, designers, testers, and user experience professionals can ensure their digital platforms are inclusive, user-friendly, and compliant with accessibility standards. This overview highlights the main sections of the AUIG, offering strategic insights into global settings, UI elements, component accessibility, and common pitfalls to avoid.
    </p>
    <br>
    <p itemprop="description">
        The AUIG stands as a pivotal resource throughout the user interface development lifecycle, presenting a modern approach that is both easy to understand and apply. By following these guidelines, organisations ensure their digital offerings are accessible, enhancing user engagement and satisfaction for everyone.
    </p>

    <!-- Informational Detail: Code Examples Note -->
    <icon-detail type="information" heading-level="h3" itemscope itemtype="https://schema.org/CreativeWork">
        <span slot="title" itemprop="name">Code Examples throughout this guide</span>
        <span slot="description" itemprop="description">All code examples are correct, but they might not apply exactly to every scenario. Consider them as templates and adjust them according to your specific context.
    </span>
    </icon-detail>

    <!-- Section: Global Settings -->
    <section itemscope itemtype="https://schema.org/CreativeWork">
        <h3 itemprop="headline">Global Settings</h3>
        <p itemprop="description">
            The Global Settings section outlines foundational elements that apply universally across the entire web platform. It emphasizes the importance of core issues that apply to the main layout and across the application/site. Such issues include Colour, Contrast, Language, Keyboard Access, Meta Data, Skip Links, Responsive Design, Flashing Images.
            From a planning perspective, global settings should be prioritised when developing a new application or website, or when upgrading an existing legacy system.
        </p>
    </section>

    <!-- Section: Elements -->
    <section itemscope itemtype="https://schema.org/CreativeWork">
        <h3 itemprop="headline">Elements</h3>
        <p itemprop="description">
            The Elements section examines specific user interface (UI) components, providing comprehensive best practices to ensure each element is fully accessible. Accessibility should be seamlessly integrated into every phase of the project lifecycle, including design, user experience (UX), development, and quality assurance (QA).
            This includes but not exclusively elements such as Multimedia (images, audio, video etc), Forms, Tables, Headings etc.
        </p>
    </section>

    <!-- Section: Components -->
    <section itemscope itemtype="https://schema.org/CreativeWork">
        <h3 itemprop="headline">Components</h3>
        <p itemprop="description">
            The Components section concentrates on the accessibility considerations of complex user interface (UI) elements. It covers components such as modals, tooltips, tabs, and accordions. This section provides essential guidelines and illustrative examples to assist in implementing accessible components effectively. Users are encouraged to develop their own methods for achieving accessibility rather than strictly adhering to the provided examples. The primary focus is to ensure that each component is accessible and meets all relevant accessibility requirements.
        </p>
    </section>

    <!-- Section: What to Avoid -->
    <section itemscope itemtype="https://schema.org/CreativeWork">
        <h3 itemprop="headline">What to Avoid</h3>
        <p itemprop="description">
            The What to Avoid section highlights common mistakes and deprecated practices that can hinder accessibility. As the documentation improves this and other sections may grow.
        </p>
    </section>
