
<header id="header">
    <h1>Accessible User Interface Guidelines (AUIG) - Draft 0.1</h1>
    <h2>A preliminary draft of guidelines aimed at designing User Interfaces that are accessible
        and inclusive for everyone.</h2>

    <h3>Versions</h3>
    <ul>
        <li>This version: 0.1</li>
        <li>Latest published version: 0.1</li>
<!--        <li>Latest editor's draft: </li>-->
<!--        <li>Previous version: </li>-->
    </ul>

    <h3>source</h3>
    <ul>
        <li>Repo: <a href="https://github.com/garethslinn/auig">auig</a></li>
        <li>Raise <a href="https://github.com/garethslinn/auig/issues">Issues</a></li>
    </ul>

    <h3>Editor(s)</h3>
    <ul>
        <li>Gareth Slinn</li>
    </ul>
</header>