<header class="header" id="header" itemscope itemtype="https://schema.org/CreativeWork">
    <!-- Title of the CreativeWork -->
    <h1 itemprop="name">Accessible User Interface Guidelines (AUIG)</h1>

    <!-- Description of the CreativeWork -->
    <h2 class="title" itemprop="description">
        A comprehensive set of modern accessibility guidelines that are based on W3C standards and
        expand upon additional considerations such as neurodiversity, presented in an intuitive
        and easy-to-follow format.
    </h2>

    <!-- Version Section -->
    <h3>Version</h3>
    <ul>
        <!-- Current Version -->
        <li>
            <span itemprop="version">This version: 1.0.0.1</span>
        </li>
        <!-- Publication Date -->
        <li>
            Date:
            <time itemprop="datePublished" datetime="2025-01-03">January 3, 2025</time>
        </li>
    </ul>

<!--    <h3>Suporters</h3>-->
<!--    <ul class="item-types item-types-logos">-->
<!--        <li class="icon-item" itemscope itemtype="https://schema.org/Person">-->
<!--            <a-->
<!--                    href=""-->
<!--                    aria-label="this link opens in a new tab"-->
<!--                    target="_blank"-->
<!--                    rel="noopener noreferrer"-->
<!--                    itemprop="relatedLink"-->
<!--            >-->
<!--                <img-->
<!--                        alt=""-->
<!--                        src=""-->
<!--                        class="user-image"-->
<!--                        itemprop="image"-->
<!--                        width="10rem"-->
<!--                />-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->



    <!-- Source Section -->
    <h3>Source</h3>
    <ul>
        <!-- Repository URL -->
        <li>
            Repo:
            <a href="https://github.com/garethslinn/auig" itemprop="codeRepository"><span class="sr-only">Link leaves this site</span>auig</a>
        </li>
        <!-- Issues Page URL -->
        <li>
            Raise
            <a href="https://github.com/garethslinn/auig/issues" itemprop="issueTracker"><span class="sr-only">Link leaves this site</span>Issues</a>
        </li>
    </ul>

    <!-- Editors Section -->
    <h3>Editor</h3>
    <ul class="item-types">
        <li class="icon-item" itemscope itemtype="https://schema.org/Person">
            <a
                    href="https://github.com/garethslinn"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        alt="Picture of Gareth Slinn"
                        src="../images/users/gslinn.png"
                        class="user-image"
                        itemprop="image"
                />
                <!-- Editor's Name -->
                <span itemprop="name">Gareth Slinn</span>&nbsp;
            </a>
       </li>
    </ul>

    <h3>Collaborators</h3>
    <ul class="item-types">
        <li itemscope itemtype="https://schema.org/Person">
            <a
                    href="https://github.com/getify"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        alt="Picture of Kyle Simpson"
                        src="../images/users/ks.png"
                        class="user-image"
                        itemprop="image"
                />
                <span itemprop="name">Kyle Simpson</span>
            </a>
        </li>
        <li itemscope itemtype="https://schema.org/Person">
            <a
                    href="https://github.com/Tim-sansom"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        alt="Picture of Timski"
                        src="../images/users/timski.jpeg"
                        class="user-image"
                        itemprop="image"
                />
                <span itemprop="name">Timski</span>
            </a>
        </li>
        <li itemscope itemtype="https://schema.org/Person">
            <a
                    href="https://github.com/adampfoster"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        alt="Picture of Adam Foster"
                        src="../images/users/adamp.jpeg"
                        class="user-image"
                        itemprop="image"
                />
                <span itemprop="name">Adam Foster</span>
            </a>
        </li>
        <li itemscope itemtype="https://schema.org/Person">
            <a
                    href="https://github.com/lharby"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        alt="Picture of Luke Harby"
                        src="../images/users/lukeh.jpeg"
                        class="user-image"
                        itemprop="image"
                />
                <span itemprop="name">Luke Harby</span>
            </a>
        </li>
        <li itemscope itemtype="https://schema.org/Person">
            <a
                    href="https://github.com/presencewebdesign"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        alt="Picture of James Stevenson"
                        src="../images/users/jamess.jpeg"
                        class="user-image"
                        itemprop="image"
                />
                <span itemprop="name">James Stevenson</span>
            </a>
        </li>
    </ul>

    <h3>Video(s)</h3>
    <ul class="item-types">
        <li itemprop="video">
            <a
                    href="https://www.youtube.com/watch?v=3bfQVzcw5ic"
                    aria-label="From Compliance to Opportunity, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                <img
                        src="../images/video.svg"
                        alt="Neurological books icon"
                        itemprop="image"
                />
                <span>Compliance</span>
            </a>.
        </li>
    </ul>

    <!-- Resources Section -->
    <h3>Resources</h3>
    <ul class="item-types">
        <li itemscope itemtype="https://schema.org/Thing">
            <a
                    href="https://neurologicalux.com/"
                    aria-label="Books on accessibility, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="url"
            >
                <img
                        src="../images/nux.svg"
                        alt="Neurological books icon"
                        itemprop="image"
                />
                <span>Books</span>
            </a>.
        </li>
        <li itemscope itemtype="https://schema.org/Thing">
            <a
                    href="https://www.checkmeister.com/"
                    aria-label="Tools developed by Gareth, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="url"
            >
                <img
                        src="../images/cm.svg"
                        alt="Checkmeister tools icon"
                        itemprop="image"
                />
                <span>Tools</span>
            </a>
        </li>
        <li itemscope itemtype="https://schema.org/Thing">
            <a
                    href="https://ca11y.net"
                    aria-label="Recruitment process, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="url"
            >
                <img
                        src="../images/ca11y.svg"
                        alt="Ca11y recruitment icon"
                        class="resource-icon"
                        itemprop="image"
                />
                <span>Ca11y</span>
            </a>
        </li>
    </ul>

</header>
