<header class="header" id="header" itemscope itemtype="https://schema.org/CreativeWork">
    <!-- Title of the CreativeWork -->
    <h1 itemprop="name">Accessible User Interface Guidelines (AUIG)</h1>

    <!-- Description of the CreativeWork -->
    <h2 class="title" itemprop="description">
        A comprehensive set of modern accessibility guidelines that are based on W3C standards and
        expand upon additional considerations such as neurodiversity, presented in an intuitive
        and easy-to-follow format.
    </h2>

    <!-- Version Section -->
    <h3>Version</h3>
    <ul>
        <!-- Current Version -->
        <li>
            <span itemprop="version">This version: 0.1.3</span>
        </li>
        <!-- Publication Date -->
        <li>
            Date:
            <time itemprop="datePublished" datetime="2024-12-24">December 24, 2024</time>
        </li>
    </ul>

    <!-- Source Section -->
    <h3>Source</h3>
    <ul>
        <!-- Repository URL -->
        <li>
            Repo:
            <a href="https://github.com/garethslinn/auig" itemprop="codeRepository"><span class="sr-only">Link leaves this site</span>auig</a>
        </li>
        <!-- Issues Page URL -->
        <li>
            Raise
            <a href="https://github.com/garethslinn/auig/issues" itemprop="issueTracker"><span class="sr-only">Link leaves this site</span>Issues</a>
        </li>
    </ul>

    <!-- Editors Section -->
    <h3>Editor</h3>
    <ul>
        <li class="icon-item" itemscope itemtype="https://schema.org/Person">
            <!-- Editor's Image -->
            <img
                    alt="Picture of Gareth Slinn"
                    src="../images/users/gslinn.png"
                    class="user-image"
                    itemprop="image"
            />
            <!-- Editor's Name -->
            <span itemprop="name">Gareth Slinn:</span>&nbsp;
            <!-- Editor's Email -->
            <a href="mailto:gslinn@gmail.com" itemprop="email">Email</a>
        </li>
    </ul>

    <!-- Collaborators Section -->
    <h3>Collaborators</h3>
    <ul>
        <li class="icon-item" itemscope itemtype="https://schema.org/Person">
            <img
                    alt="Picture of Kyle Simpson"
                    src="../images/users/ks.png"
                    class="user-image"
                    itemprop="image"
            />
            <span itemprop="name">Kyle Simpson</span>&nbsp;
        </li>
        <li class="icon-item" itemscope itemtype="https://schema.org/Person">
            <img
                    alt="Picture of Timski"
                    src="../images/users/timski.jpeg"
                    class="user-image"
                    itemprop="image"
            />
            <span itemprop="name">Timski</span>&nbsp;
        </li>
        <li class="icon-item" itemscope itemtype="https://schema.org/Person">
            <img
                    alt="Picture of Adam Foster"
                    src="../images/users/adamp.jpeg"
                    class="user-image"
                    itemprop="image"
            />
            <span itemprop="name">Adam Foster</span>&nbsp;
        </li>
    </ul>

    <h3>Video(s)</h3>
    <ul>
        <li class="icon-item" itemprop="video">
            <i class="icon icon-space icon-video"></i>
            <span>Watch:&nbsp;</span>
            <a
                    href="https://www.youtube.com/watch?v=3bfQVzcw5ic"
                    aria-label="From Compliance to Opportunity, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >

                From Compliance to Opportunity
            </a>.
        </li>
    </ul>

    <!-- Resources Section -->
    <h3>Resources</h3>
    <ul>
        <li class="icon-item">
            <i class="icon icon-space icon-nux"></i>
            Neurological&nbsp;
            <a
                    href="https://neurologicalux.com/"
                    aria-label="Books on accessibility, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                books
            </a>.
        </li>
        <li class="icon-item">
            <i class="icon icon-space icon-cm"></i>
            Checkmeister&nbsp;
            <a
                    href="https://www.checkmeister.com/"
                    aria-label="Tools developed by Gareth, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                tools
            </a>.
        </li>
        <li class="icon-item">
            <i class="icon icon-space icon-ca11y"></i>
            Ca11y&nbsp;
            <a
                    href="https://ca11y.net"
                    aria-label="Recruitment process, opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                recruitment process.
            </a>
        </li>
    </ul>
</header>
