<!-- Sidebar -->
<nav id="nav" aria-label="Main Navigation closed">
    <button aria-label="toggle menu" id="toggleButton" class="toggle-button">
        <svg aria-hidden="true" width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <polygon points="100,20 20,180 180,180" fill="white" stroke="black" stroke-width="2" />
        </svg>
    </button>
    <ul>
        <li><a href="#abstract"><strong>Abstract</strong></a></li>

        <li>
            <a href="#global-settings"><strong>1. Global Settings</strong></a>
            <ul>
                <li><a href="#1.1"><strong>1.1 Colour</strong></a></li>
                <li><a href="#1.2"><strong>1.2 Contrast</strong></a></li>
                <li><a href="#1.3"><strong>1.3 Language</strong></a></li>
                <li><a href="#1.4"><strong>1.4 Keyboard Access</strong></a></li>
                <li>
                    <a href="#1.5"><strong>1.5 Meta Data</strong></a>
                    <ul>
                        <li><a href="#1.5.1">1.5.1 Meta</a></li>
                        <li><a href="#1.5.2">1.5.2 Title</a></li>
                    </ul>
                </li>
                <li><a href="#1.6"><strong>1.6 Skip Links</strong></a></li>
                <li><a href="#1.7"><strong>1.7 Responsive Design</strong></a></li>
                <li><a href="#1.8"><strong>1.8 Flashing Images</strong></a></li>
            </ul>
        </li>

        <li>
            <a href="#html-elements"><strong>2. Elements</strong></a>
            <ul>
                <li>
                    <a href="#2.1"><strong>2.1 Multimedia</strong></a>
                    <ul>
                        <li><a href="#2.1.1">2.1.1 Alternative Representation</a></li>
                        <li><a href="#2.1.2">2.1.2 Avoid Autoplay</a></li>
                        <li><a href="#2.1.3">2.1.3 Controls</a></li>
                        <li><a href="#2.1.4">2.1.4 Flashing Items</a></li>
                        <li><a href="#2.1.5">2.1.5 Video Subtitles (Captions)</a></li>
                        <li><a href="#2.1.6">2.1.6 Video Transcripts</a></li>
                        <li><a href="#2.1.7">2.1.7 Sign Language</a></li>
                    </ul>
                </li>
                <li><a href="#2.2"><strong>2.2 Forms</strong></a></li>
            </ul>
        </li>

        <li>
            <a href="#ui-components"><strong>3. Components</strong></a>
            <ul>
               <del>
                <li><a href="#3.1"><strong>3.1 Modals</strong></a></li>
                <li><a href="#3.2"><strong>3.2 Search</strong></a></li>
                <li><a href="#3.3"><strong>3.3 Navigation Menus</strong></a></li>
                <li><a href="#3.4"><strong>3.4 Sliders/Carousels</strong></a></li>
                <li><a href="#3.5"><strong>3.5 Buttons</strong></a></li>
                <li><a href="#3.6"><strong>3.6 Tooltips</strong></a></li>
                <li><a href="#3.7"><strong>3.7 Dropdown Menus</strong></a></li>
                <li><a href="#3.8"><strong>3.8 Tabs</strong></a></li>
                <li><a href="#3.9"><strong>3.9 Accordions</strong></a></li>
                <li><a href="#3.10"><strong>3.10 Notifications/Toasts</strong></a></li>
                <li><a href="#3.11"><strong>3.11 Icons</strong></a></li>
                <li><a href="#3.12"><strong>3.12 Breadcrumbs</strong></a></li>
                <li><a href="#3.13"><strong>3.13 Pagination</strong></a></li>
                <li><a href="#3.15"><strong>3.14 Cards</strong></a></li>
                <li><a href="#3.16"><strong>3.15 Alerts</strong></a></li>
                <li><a href="#3.17"><strong>3.16 Footers</strong></a></li>
                <li><a href="#3.18"><strong>3.17 Headers</strong></a></li>
                <li><a href="#3.19"><strong>3.18 Sidebars</strong></a></li>
                <li><a href="#3.22"><strong>3.19 Progress Bars</strong></a></li>
               </del>
            </ul>
        </li>

        <del>
        <li>
            <a href="#html-elements"><strong>4. What to avoid</strong></a>
            <ul>
                <li><a href="#4.1"><strong>4.1 Badly implemented Aria</strong></a></li>
                <li><a href="#4.2"><strong>4.2 Deprecated elements</strong></a></li>
                <li><a href="#4.3"><strong>4.3 Redirection without warning</strong></a></li>
                <li><a href="#4.4"><strong>4.4 Full Caps</strong></a></li>
            </ul>
        </li>
        </del>
    </ul>
</nav>

