<!-- Sidebar -->
<nav id="nav" aria-label="Main Navigation closed">
    <button aria-label="toggle menu" id="toggleButton" class="toggle-button">
        <svg aria-hidden="true" width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <polygon points="100,20 20,180 180,180" fill="white" stroke="black" stroke-width="2" />
        </svg>
    </button>
    <h3 class="sr-only">Table of Contents</h3>
    <ul>
        <li><a href="#abstract"><strong>Abstract</strong></a></li>

        <li>
            <a href="#global-settings"><strong>1. Global Settings</strong></a>
            <ul>
                <li><a href="#1.1"><strong>1.1 Colour</strong></a></li>
                <li><a href="#1.2"><strong>1.2 Contrast</strong></a></li>
                <li><a href="#1.3"><strong>1.3 Language</strong></a></li>
                <li><a href="#1.4"><strong>1.4 Keyboard Access</strong></a></li>
                <li>
                    <a href="#1.5"><strong>1.5 Meta Data</strong></a>
                    <ul>
                        <li><a href="#1.5.1">1.5.1 Meta</a></li>
                        <li><a href="#1.5.2">1.5.2 Title</a></li>
                    </ul>
                </li>
                <li><a href="#1.6"><strong>1.6 Skip Links</strong></a></li>
                <li><a href="#1.7"><strong>1.7 Responsive Design</strong></a></li>
                <li><a href="#1.8"><strong>1.8 Flashing Images</strong></a></li>
            </ul>
        </li>

        <li>
            <a href="#html-elements"><strong>2. Elements</strong></a>
            <ul>
                <li>
                    <a href="#2.1"><strong>2.1 Multimedia</strong></a>
                    <ul>
                        <li><a href="#2.1.1">2.1.1 Alternative Representation</a></li>
                        <li><a href="#2.1.2">2.1.2 Avoid Autoplay</a></li>
                        <li><a href="#2.1.3">2.1.3 Controls</a></li>
                        <li><a href="#2.1.4">2.1.4 Flashing Items</a></li>
                        <li><a href="#2.1.5">2.1.5 Video Subtitles (Captions)</a></li>
                        <li><a href="#2.1.6">2.1.6 Video Transcripts</a></li>
                        <li><a href="#2.1.7">2.1.7 Sign Language</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.2"><strong>2.2 Forms</strong></a>
                    <ul>
                        <li><a href="#2.2.1">2.2.1 Proper Labeling of Form Elements</a></li>
                        <li><a href="#2.2.2">2.2.2 Keyboard Navigation</a></li>
                        <li><a href="#2.2.3">2.2.3 Clear Error Identification and Description</a></li>
                        <li><a href="#2.2.4">2.2.4 Grouping Related Form Elements</a></li>
                        <li><a href="#2.2.5">2.2.5 Accessible Form Validation</a></li>
                        <li><a href="#2.2.6">2.2.6 Instructions and Help Text</a></li>
                        <li><a href="#2.2.7">2.2.7 Accessible Captchas</a></li>
                        <li><a href="#2.2.8">2.2.8 Time Limits</a></li>
                        <li><a href="#2.2.9">2.2.9 Sufficient Color Contrast and Visual Design</a></li>
                        <li><a href="#2.2.10">2.2.10 Accessible Date Pickers and Other Widgets</a></li>
                        <li><a href="#2.2.11">2.2.11 Assistive Technology Compatibility</a></li>
                        <li><a href="#2.2.12">2.2.12 Support for Cognitive Disabilities</a></li>
                        <li><a href="#2.2.13">2.2.13 Responsive and Mobile-Friendly Design</a></li>
                        <li><a href="#2.2.14">2.2.14 Multi-Step Forms Accessibility</a></li>
                        <li><a href="#2.2.15">2.2.15 Accessible Dropdowns and Select Menus</a></li>
                        <li><a href="#2.2.16">2.2.16 Accessible Radio Buttons and Checkboxes</a></li>
                        <li><a href="#2.2.17">2.2.17 Accessible File Uploads</a></li>
                        <li><a href="#2.2.18">2.2.18 Accessible Buttons and Submission Controls</a></li>
                        <li><a href="#2.2.19">2.2.19 Multi-Language Support</a></li>
                        <li><a href="#2.2.20">2.2.20 Privacy and Security Considerations</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.3"><strong>2.3 Tables</strong></a>
                    <ul>
                        <li><a href="#2.3.1">2.3.1 Table Structure</a></li>
                        <li><a href="#2.3.2">2.3.2 Table Headers and Scope</a></li>
                        <li><a href="#2.3.3">2.3.3 Captions and Summaries</a></li>
                        <li><a href="#2.3.4">2.3.4 Avoiding Complex Structures</a></li>
                        <li><a href="#2.3.5">2.3.5 Responsive Tables</a></li>
                        <li><a href="#2.3.6">2.3.6 Keyboard Navigation</a></li>
                        <li><a href="#2.3.7">2.3.7 Accessible Data Presentation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.4"><strong>2.4 Headings</strong></a>
                    <ul>
                        <li><a href="#2.4.1">2.4.1 Hierarchical Structure</a></li>
                        <li><a href="#2.4.2">2.4.2 Descriptive Headings</a></li>
                        <li><a href="#2.4.3">2.4.3 Avoid Skipping Heading Levels</a></li>
                        <li><a href="#2.4.4">2.4.4 Semantic Use of Headings</a></li>
                        <li><a href="#2.4.5">2.4.5 Accessible Navigation</a></li>
                        <li><a href="#2.4.6">2.4.6 Consistent Styling</a></li>
                        <li><a href="#2.4.7">2.4.7 ARIA Roles and Landmarks</a></li>
                        <li><a href="#2.4.8">2.4.8 Testing and Validation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.5"><strong>2.5 Links</strong></a>
                    <ul>
                        <li><a href="#2.5.1">2.5.1 Descriptive Link Text</a></li>
                        <li><a href="#2.5.2">2.5.2 Avoiding Redundant Links</a></li>
                        <li><a href="#2.5.3">2.5.3 Visible Focus Indicators</a></li>
                        <li><a href="#2.5.4">2.5.4 Link Purpose and Destination</a></li>
                        <li><a href="#2.5.5">2.5.5 Distinguishable Links</a></li>
                        <li><a href="#2.5.6">2.5.6 Keyboard Accessibility</a></li>
                        <li><a href="#2.5.7">2.5.7 Opening Links in New Tabs</a></li>
                        <li><a href="#2.5.8">2.5.8 Testing Links for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.6"><strong>2.6 Buttons</strong></a>
                    <ul>
                        <li><a href="#2.6.1">2.6.1 Descriptive Button Labels</a></li>
                        <li><a href="#2.6.2">2.6.2 Button Size and Click Area</a></li>
                        <li><a href="#2.6.3">2.6.3 Keyboard Accessibility</a></li>
                        <li><a href="#2.6.4">2.6.4 Visible Focus Indicators</a></li>
                        <li><a href="#2.6.5">2.6.5 ARIA Attributes for Buttons</a></li>
                        <li><a href="#2.6.6">2.6.6 Accessible Button States</a></li>
                        <li><a href="#2.6.7">2.6.7 Consistent Styling</a></li>
                        <li><a href="#2.6.8">2.6.8 Button Types and Roles</a></li>
                        <li><a href="#2.6.9">2.6.9 Testing Buttons for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.7"><strong>2.7 Lists</strong></a>
                    <ul>
                        <li><a href="#2.7.1">2.7.1 Proper Use of List Elements</a></li>
                        <li><a href="#2.7.2">2.7.2 Nesting Lists Appropriately</a></li>
                        <li><a href="#2.7.3">2.7.3 Descriptive List Items</a></li>
                        <li><a href="#2.7.4">2.7.4 Accessible List Styling</a></li>
                        <li><a href="#2.7.5">2.7.5 ARIA Roles for Complex Lists</a></li>
                        <li><a href="#2.7.6">2.7.6 Keyboard Navigation for Interactive Lists</a></li>
                        <li><a href="#2.7.7">2.7.7 Consistent List Structure</a></li>
                        <li><a href="#2.7.8">2.7.8 Testing Lists for Accessibility</a></li>
                        <li><a href="#2.7.9">2.7.9 Avoiding Overly Complex Lists</a></li>
                        <li><a href="#2.7.10">2.7.10 Semantic List Use</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.8"><strong>2.8 Semantic HTML Elements</strong></a>
                    <ul>
                        <li><a href="#2.8.1">2.8.1 &lt;header&gt; Element</a></li>
                        <li><a href="#2.8.2">2.8.2 &lt;nav&gt; Element</a></li>
                        <li><a href="#2.8.3">2.8.3 &lt;main&gt; Element</a></li>
                        <li><a href="#2.8.4">2.8.4 &lt;section&gt; Element</a></li>
                        <li><a href="#2.8.5">2.8.5 &lt;article&gt; Element</a></li>
                        <li><a href="#2.8.6">2.8.6 &lt;aside&gt; Element</a></li>
                        <li><a href="#2.8.7">2.8.7 &lt;footer&gt; Element</a></li>
                        <li><a href="#2.8.8">2.8.8 ARIA Landmarks</a></li>
                        <li><a href="#2.8.9">2.8.9 &lt;figure&gt; and &lt;figcaption&gt; Elements</a></li>
                        <li><a href="#2.8.10">2.8.10 &lt;time&gt; Element</a></li>
                        <li><a href="#2.8.11">2.8.11 &lt;details&gt; and &lt;summary&gt; Elements</a></li>
                        <li><a href="#2.8.12">2.8.12 &lt;mark&gt; Element</a></li>
                        <li><a href="#2.8.13">2.8.13 &lt;strong&gt; and &lt;em&gt; Elements</a></li>
                        <li><a href="#2.8.14">2.8.14 &lt;abbr&gt; and &lt;acronym&gt; Elements</a></li>
                        <li><a href="#2.8.15">2.8.15 &lt;cite&gt; Element</a></li>
                        <li><a href="#2.8.16">2.8.16 &lt;address&gt; Element</a></li>
                        <li><a href="#2.8.17">2.8.17 &lt;figure&gt; and &lt;figcaption&gt; Elements</a></li>
                        <li><a href="#2.8.18">2.8.18 &lt;summary&gt; Element</a></li>
                        <li><a href="#2.8.19">2.8.19 &lt;time&gt; Element</a></li>
                        <li><a href="#2.8.20">2.8.20 ARIA Roles with Semantic Elements</a></li>
                        <li><a href="#2.8.21">2.8.21 Avoiding Non-Semantic Elements for Structure</a></li>
                        <li><a href="#2.8.22">2.8.22 Best Practices for Using Semantic HTML Elements</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.10"><strong>2.10 SVGs and Graphics</strong></a>
                    <ul>
                        <li><a href="#2.10.1">2.10.1 &lt;svg&gt; Elements</a></li>
                        <li><a href="#2.10.2">2.10.2 Providing Alternative Text</a></li>
                        <li><a href="#2.10.3">2.10.3 Accessible Descriptions and Titles</a></li>
                        <li><a href="#2.10.4">2.10.4 Color Contrast and Visibility</a></li>
                        <li><a href="#2.10.5">2.10.5 Responsive Graphics</a></li>
                        <li><a href="#2.10.6">2.10.6 ARIA Attributes for Graphics</a></li>
                        <li><a href="#2.10.7">2.10.7 Keyboard Accessibility for Interactive Graphics</a></li>
                        <li><a href="#2.10.8">2.10.8 Animations and Motion</a></li>
                        <li><a href="#2.10.9">2.10.9 Testing Graphics for Accessibility</a></li>
                        <li><a href="#2.10.10">2.10.10 Best Practices for SVGs and Graphics</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.11"><strong>2.11 Inline Elements</strong></a>
                    <ul>
                        <li><a href="#2.11.1">2.11.1 &lt;span&gt; Element</a></li>
                        <li><a href="#2.11.2">2.11.2 &lt;a&gt; Element</a></li>
                        <li><a href="#2.11.3">2.11.3 &lt;strong&gt; and &lt;em&gt; Elements</a></li>
                        <li><a href="#2.11.4">2.11.4 &lt;abbr&gt; Element</a></li>
                        <li><a href="#2.11.5">2.11.5 &lt;img&gt; Element</a></li>
                        <li><a href="#2.11.6">2.11.6 &lt;code&gt; and &lt;pre&gt; Elements</a></li>
                        <li><a href="#2.11.7">2.11.7 &lt;mark&gt; Element</a></li>
                        <li><a href="#2.11.8">2.11.8 &lt;small&gt; and &lt;big&gt; Elements</a></li>
                        <li><a href="#2.11.9">2.11.9 ARIA Attributes for Inline Elements</a></li>
                        <li><a href="#2.11.10">2.11.10 Keyboard Accessibility for Interactive Inline Elements</a></li>
                        <li><a href="#2.11.11">2.11.11 Avoiding Overuse of Inline Elements</a></li>
                        <li><a href="#2.11.12">2.11.12 Best Practices for Inline Elements</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#2.12"><strong>2.12 Text</strong></a>
                    <ul>
                        <li><a href="#2.12.1">2.12.1 Clear and Concise Language</a></li>
                        <li><a href="#2.12.2">2.12.2 Appropriate Font Size and Type</a></li>
                        <li><a href="#2.12.3">2.12.3 Sufficient Line Spacing and Text Length</a></li>
                        <li><a href="#2.12.4">2.12.4 High Contrast Between Text and Background</a></li>
                        <li><a href="#2.12.5">2.12.5 Use of Headings and Subheadings</a></li>
                        <li><a href="#2.12.6">2.12.6 Avoiding Cognitive Overload</a></li>
                        <li><a href="#2.12.7">2.12.7 Consistent Layout and Formatting</a></li>
                        <li><a href="#2.12.8">2.12.8 Use of Visual Aids</a></li>
                        <li><a href="#2.12.9">2.12.9 ARIA Attributes for Enhanced Accessibility</a></li>
                        <li><a href="#2.12.10">2.12.10 Readability Enhancements for Cognitive Accessibility</a></li>
                        <li><a href="#2.12.11">2.12.11 Avoiding Text-Only Content</a></li>
                        <li><a href="#2.12.12">2.12.12 Best Practices for Text</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#ui-components"><strong>3. Components</strong></a>
            <ul>
                <li>
                    <a href="#3.1"><strong>3.1 Modals</strong></a>
                    <ul>
                        <li><a href="#3.1.1">3.1.1 &lt;dialog&gt; Element</a></li>
                        <li><a href="#3.1.2">3.1.2 Focus Management</a></li>
                        <li><a href="#3.1.3">3.1.3 Keyboard Accessibility</a></li>
                        <li><a href="#3.1.4">3.1.4 Visible Focus Indicators</a></li>
                        <li><a href="#3.1.5">3.1.5 ARIA Attributes for Modals</a></li>
                        <li><a href="#3.1.6">3.1.6 Accessible Focus Trap</a></li>
                        <li><a href="#3.1.7">3.1.7 Consistent Styling</a></li>
                        <li><a href="#3.1.8">3.1.8 Responsiveness</a></li>
                        <li><a href="#3.1.9">3.1.9 Testing Modals for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.2"><strong>3.2 Search</strong></a>
                    <ul>
                        <li><a href="#3.2.1">3.2.1 Accessible Search Field</a></li>
                        <li><a href="#3.2.2">3.2.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.2.3">3.2.3 Placeholder Text and Labels</a></li>
                        <li><a href="#3.2.4">3.2.4 ARIA Roles and Attributes</a></li>
                        <li><a href="#3.2.5">3.2.5 Clear Search Button</a></li>
                        <li><a href="#3.2.6">3.2.6 Responsive Design</a></li>
                        <li><a href="#3.2.7">3.2.7 Search Suggestions</a></li>
                        <li><a href="#3.2.8">3.2.8 Testing Search for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.3"><strong>3.3 Navigation Menus</strong></a>
                    <ul>
                        <li><a href="#3.3.1">3.3.1 Semantic Markup</a></li>
                        <li><a href="#3.3.2">3.3.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.3.3">3.3.3 ARIA Roles and Attributes</a></li>
                        <li><a href="#3.3.4">3.3.4 Responsive Design</a></li>
                        <li><a href="#3.3.5">3.3.5 Dropdown Menus</a></li>
                        <li><a href="#3.3.6">3.3.6 Visible Focus Indicators</a></li>
                        <li><a href="#3.3.7">3.3.7 Testing Navigation Menus for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.4"><strong>3.4 Sliders/Carousels</strong></a>
                    <ul>
                        <li><a href="#3.4.1">3.4.1 Semantic Markup</a></li>
                        <li><a href="#3.4.2">3.4.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.4.3">3.4.3 ARIA Attributes</a></li>
                        <li><a href="#3.4.4">3.4.4 Pause, Stop, and Play Controls</a></li>
                        <li><a href="#3.4.5">3.4.5 Visible Focus Indicators</a></li>
                        <li><a href="#3.4.6">3.4.6 Testing Sliders for Accessibility</a></li>
                    </ul>
                </li>
                <del>
                    <li>
                        <a href="#3.5"><strong>3.5 TBA</strong></a>
                    </li>
                </del>
                <li>
                    <a href="#3.6"><strong>3.6 Tooltips</strong></a>
                    <ul>
                        <li><a href="#3.6.1">3.6.1 Semantic Markup</a></li>
                        <li><a href="#3.6.2">3.6.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.6.3">3.6.3 Visible on Hover and Focus</a></li>
                        <li><a href="#3.6.4">3.6.4 ARIA Attributes</a></li>
                        <li><a href="#3.6.5">3.6.5 Responsive Design</a></li>
                        <li><a href="#3.6.6">3.6.6 Testing Tooltips for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.7"><strong>3.7 Tabs</strong></a>
                    <ul>
                        <li><a href="#3.7.1">3.7.1 Semantic Markup</a></li>
                        <li><a href="#3.7.2">3.7.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.7.3">3.7.3 ARIA Attributes</a></li>
                        <li><a href="#3.7.4">3.7.4 Responsive Design</a></li>
                        <li><a href="#3.7.5">3.7.5 Visible Focus Indicators</a></li>
                        <li><a href="#3.7.6">3.7.6 Testing Tabs for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.8"><strong>3.8 Accordions</strong></a>
                    <ul>
                        <li><a href="#3.8.1">3.8.1 Semantic Markup</a></li>
                        <li><a href="#3.8.2">3.8.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.8.3">3.8.3 ARIA Attributes</a></li>
                        <li><a href="#3.8.4">3.8.4 Responsive Design</a></li>
                        <li><a href="#3.8.5">3.8.5 Visible Focus Indicators</a></li>
                        <li><a href="#3.8.6">3.8.6 Testing Accordions for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.9"><strong>3.9 Notifications/Toasts</strong></a>
                    <ul>
                        <li><a href="#3.9.1">3.9.1 Semantic Markup</a></li>
                        <li><a href="#3.9.2">3.9.2 ARIA Live Regions</a></li>
                        <li><a href="#3.9.3">3.9.3 Dismissible Notifications</a></li>
                        <li><a href="#3.9.4">3.9.4 Timed Notifications</a></li>
                        <li><a href="#3.9.5">3.9.5 Styling and Visibility</a></li>
                        <li><a href="#3.9.6">3.9.6 Testing Notifications for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.10"><strong>3.10 Breadcrumbs</strong></a>
                    <ul>
                        <li><a href="#3.10.1">3.10.1 Semantic Markup</a></li>
                        <li><a href="#3.10.2">3.10.2 ARIA Attributes</a></li>
                        <li><a href="#3.10.3">3.10.3 Keyboard Navigation</a></li>
                        <li><a href="#3.10.4">3.10.4 Styling Breadcrumbs</a></li>
                        <li><a href="#3.10.5">3.10.5 Responsive Design</a></li>
                        <li><a href="#3.10.6">3.10.6 Testing Breadcrumbs for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.11"><strong>3.11 Pagination</strong></a>
                    <ul>
                        <li><a href="#3.11.1">3.11.1 Semantic Markup</a></li>
                        <li><a href="#3.11.2">3.11.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.11.3">3.11.3 ARIA Attributes</a></li>
                        <li><a href="#3.11.4">3.11.4 Responsive Design</a></li>
                        <li><a href="#3.11.5">3.11.5 Visible Focus Indicators</a></li>
                        <li><a href="#3.11.6">3.11.6 Testing Pagination for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.12"><strong>3.12 Cards</strong></a>
                    <ul>
                        <li><a href="#3.12.1">3.12.1 Semantic Markup</a></li>
                        <li><a href="#3.12.2">3.12.2 Keyboard Accessibility</a></li>
                        <li><a href="#3.12.3">3.12.3 Focus Management</a></li>
                        <li><a href="#3.12.4">3.12.4 ARIA Attributes</a></li>
                        <li><a href="#3.12.5">3.12.5 Responsive Design</a></li>
                        <li><a href="#3.12.6">3.12.6 Testing Cards for Accessibility</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#3.13"><strong>3.13 Alerts</strong></a>
                    <ul>
                        <li><a href="#3.13.1">3.13.1 Semantic Markup</a></li>
                        <li><a href="#3.13.2">3.13.2 Live Regions</a></li>
                        <li><a href="#3.13.3">3.13.3 Dismissible Alerts</a></li>
                        <li><a href="#3.13.4">3.13.4 Styling Alerts</a></li>
                        <li><a href="#3.13.5">3.13.5 Testing Alerts for Accessibility</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#4"><strong>4 What to Avoid</strong></a>
            <ul>
                <li><a href="#4.1">4.1 Badly Implemented ARIA</a></li>
                <li><a href="#4.2">4.2 Deprecated Elements</a></li>
                <li><a href="#4.3">4.3 Redirection Without Warning</a></li>
            </ul>
        </li>
    </ul>
</nav>
