<!-- Sidebar -->
<h3 class="sr-only" itemprop="name">Table of Contents</h3>
<ul>
    <li>
        <a href="/pages/index.html">
            <span><strong>Home</strong></span>
        </a>
    </li>
    <li>
        <a href="/articles/">
            <span><strong>Articles</strong></span>
        </a>
    </li>
    <!-- Add links dynamically -->
    <li>
        <a href="/articles/we-dont-think-the-same.html">
            <span><strong>We don't think the same</strong></span>
        </a>
    </li>
</ul>

