<!-- Sidebar -->
<h3 class="sr-only" itemprop="name">Table of Contents</h3>
<ul>
    <li>
        <a href="/pages/index.html">
            <span><strong>Home</strong></span>
        </a>
    </li>
    <li>
        <a href="/articles/">
            <span><strong>Articles</strong></span>
        </a>
    </li>
    <li>
        <a href="/articles/we-dont-think-the-same.html" aria-label="We don't think the same">
            <span title="We don't think the same"><strong>We don't think...</strong></span>
        </a>

    </li>
    <li>
        <a href="/articles/dont-make-this-expenstive-mistake.html" aria-label="Don't make this expensive mistake">
            <span title="Don't make this expensive mistake"><strong>Don't make this...</strong></span>
        </a>
    </li>
    <li>
        <a href="/articles/automated-vs-manual-testing.html" aria-label="Automated Accessibility vs. Manual Testing">
            <span title="Automated Accessibility vs. Manual Testing"><strong>Automated Accessibility...</strong></span>
        </a>
    </li>
    <li>
        <a href="/articles/the-anxiety-of-forms.html" aria-label="The anxiety of forms">
            <span><strong>The anxiety of forms</strong></span>
        </a>
    </li>
</ul>

