<!-- Sidebar -->
<h3 class="sr-only" itemprop="name">Table of Contents</h3>
<ul>
    <li>
        <a href="/pages/index.html">
            <span><strong>Home</strong></span>
        </a>
    </li>
    <li>
        <a href="/articles/">
            <span><strong>Articles</strong></span>
        </a>
    </li>
    <li>
        <a data-image="puzzle.svg"  href="/articles/we-dont-think-the-same.html" aria-label="We don't think the same">
            <span title="We don't think the same"><strong>We don't think...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="mistake.svg" href="/articles/dont-make-this-expenstive-mistake.html" aria-label="Don't make this expensive mistake">
            <span title="Don't make this expensive mistake"><strong>Don't make this...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="manual-vs-automated.svg" href="/articles/automated-vs-manual-testing.html" aria-label="Automated Accessibility vs. Manual Testing">
            <span title="Automated Accessibility vs. Manual Testing"><strong>Automated Accessibility...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="anxiety-forms.svg" href="/articles/the-anxiety-of-forms.html" aria-label="The anxiety of forms">
            <span><strong>The anxiety of forms</strong></span>
        </a>
    </li>
    <li>
        <a data-image="cognitive-load.svg" href="/articles/cognitive-load-and-accessibility.html" aria-label="Cognitive Load and Accessibility">
            <span><strong>Cognitive Load...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="hyper-focus.svg" href="/articles/the-power-of-hyper-focus.html" aria-label="The power of hyper focus">
            <span><strong>The power of hyper focus</strong></span>
        </a>
    </li>
    <li>
        <a data-image="blame.svg" href="/articles/who-is-to-blame-when-accessibility-fails.html" aria-label="Who is to blame when accessibility fails?">
            <span><strong>Who is to blame...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="timed-assessments.svg" href="/articles/timed-coding-tests-are-bad.html" aria-label="Timed coding tests are bad">
            <span><strong>Timed coding tests...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="neurodiversity-society.svg" href="/articles/neurodiversity-and-society.html" aria-label="Neurodiversity and Society’s Rigid View of Disability.">
            <span><strong>Neurodiversity and Societies...</strong></span>
        </a>
    </li>
    <li>
        <a data-image="cogjs.svg" href="/articles/what-the-hell-is-this.html" aria-label="What the hell is this?">
            <span><strong>What the hell is this?</strong></span>
        </a>
    </li>
<!--    <li>-->
<!--        <a data-image="adhd-dopamine-myth.svg" href="/articles/dopamine-myth.html" aria-label="Dopamine myth?">-->
<!--            <span><strong>ADHD and the Dopamine Myth Busted!</strong></span>-->
<!--        </a>-->
<!--    </li>-->
    <li>
        <a data-image="rsd.svg" href="/articles/rsd.html" aria-label="RSD and ADHD">
            <span><strong>When Hyperfocus Turns Inward...</strong></span>
        </a>
    </li>
</ul>