<nav aria-label="Breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li aria-current="page">Don't make this expensive mistake</li>
    </ol>
</nav>

<h1>Don’t Make This Expensive Mistake: Why Accessibility Matters in IT</h1>

<h2>Article</h2>

<div class="author-container">
    <a href="/pages/bio.html" class="author-image">
        <img src="../../images/users/gslinn.png" alt="Author's portrait" />
    </a>
    <div class="author-details">
        <span>Author:
            <a href="/pages/bio.html" class="author-name">Gareth Slinn</a>
        </span>
        <time datetime="2025-01-07">
            Published: January, 7th 2025
        </time>
        <share-buttons article-url="dont-make-this-expenstive-mistake.html"></share-buttons>
    </div>
</div>

<title-image
        alt="sign saying, Accessibility mistake"
        src="mistake.svg"
></title-image>

<p>
Accessibility is often misunderstood in the tech world. Many IT professionals dismiss it as a low-priority, compliance-driven task, assuming it only affects 0.1% of users. This misconception, coupled with the belief that accessibility is not in demand, discourages developers from learning the necessary skills. Why invest the time if there’s no visible payoff?
</p>
<p>
Here’s the reality: ignoring accessibility can block 15-20% of your intended user base. That’s not just a small niche, it’s a significant audience. These barriers don’t just impact users with disabilities but also people with temporary impairments or situational challenges, such as poor lighting or a noisy environment. If your code is fast and efficient but inaccessible, it creates a barrier to entry, turning away potential customers.
</p>
<p>
This oversight has real financial consequences. By excluding a large segment of users, your company risks losing out on substantial profits. Accessibility isn’t just about doing the right thing, it’s a business advantage. Inclusive products reach more people, generate more revenue, and build stronger brand loyalty.
</p>
<p>
Don’t make the expensive mistake of ignoring accessibility. By investing in inclusive design and development, you ensure your code works for everyone, maximising its effectiveness and delivering true value to your users, and your employer.
</p>