<nav aria-label="Breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        <li aria-current="page">Supporter - Garima System</li>
    </ol>
</nav>

<h1 itemprop="name">Supporter: Garima System</h1>

<div class="author-container">
    <a
            href="https://garimasystem.com/"
            class="author-image"
            aria-label="this link opens in a new tab"
            target="_blank"
            rel="noopener noreferrer"
            itemprop="relatedLink"
    >
        <img src="../../images/supporters/garimasystem.svg" alt="Garima System logo" />
    </a>
    <div class="author-details">
        <span>Supporter:
            <a href="/pages/bio.html" class="author-name">Garima System</a>
        </span>
        <span>
            <a
                    href="https://garimasystem.com/"
                    class="author-image"
                    aria-label="this link opens in a new tab"
                    target="_blank"
                    rel="noopener noreferrer"
                    itemprop="relatedLink"
            >
                Go to website
            </a>
        </span>
        <share-buttons article-url="supporter-garimasystem.html"></share-buttons>
    </div>
</div>

<p>
    We think AUIG is a noble initiative, and we will definitely refer your recommendations when we provide applications to our customers.
</p>
<p>
    Garima System builds Digital Transformation Solutions using Industrial IOT, with a focus on worker safety and efficiency of operations. We believe that with the support of the AUIG Platform we can make our applications more accessible to end users.
</p>

</section>
