
.nav {
    width: 20rem;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--nav-bg);
    color: var(--nav-text);
    transition: background-color var(--transition-speed), color var(--transition-speed);

    .toggle-button {
        display: none;
        /*transition: transform 0.1s ease-in-out;*/
        transform: rotate(0deg);
    }
}

.nav ul {
    list-style: none;
    padding: 0 0 0 1rem;
    margin: 0;
}

.nav li {
    margin-bottom: 0;
}

.nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    transition: color 0.3s;
}

.nav a:hover,
.nav a:focus {
    color: var(--color-primary);
    text-decoration: underline;
}


@media (max-width: 800px) {

    .nav {
        width: 100%;
        position: relative;
        height: 1rem;
        padding-left: 4rem;

        .toggle-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding: 0;

            border-radius: 0.2rem;
            cursor: pointer;

            width: 100%;
            height: 3rem;
            background-color: #268ca6;
            color: #fff;
            font-size: 1.4rem;

            position: fixed;
            top: 4rem;
            left: 0rem;
        }
        .toggle-button svg {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }

        &.show {
            height: auto;
             overflow-y: scroll;
            .toggle-button {
                transform: rotate(180deg);
            }
        }
    }

}
